<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Form</title>
</head>
<body>

    <h2>Form as a table</h2>
    <form method="POST">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input type="submit" value="-Send-">
    </form>

    <h2>Form as a list</h2>
    <form method="POST">
        {% csrf_token %}
        <ul>
          {{ form.as_ul }}
        </ul>
        <input type="submit" value="-Send-">
    </form>

    <h2>Form as a paragraph</h2>
    <form method="POST">
        {% csrf_token %}
        <div>
          {{ form.as_p }}
        </div>
        <input type="submit" value="-Send-">
    </form>

</body>
</html>